
<h1>Clubs</h1>
<br>
<table border="4" cellpadding="10">
  <thead>
    <tr>
      <th><b>Name</b></th>
      <th><b>Weblink</b></th>
      <th><b>Registration Number</b></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
    <tr>
      <td><%= link_to club.name, club %></td>
      <td><%= club.webLink %></td>
      <td><%= club.registrationNumber %></td>
      <td><%= link_to 'Show', club %></td>

      <% if user_signed_in? && is_club_current_admin?(club.id) %>
        <td><%= link_to 'Edit', club %></td>
        <td><%= link_to 'Remove', club, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>

    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to '<button>New Club</button>'.html_safe , new_club_path %>
<% end %>






