<h1>
  <strong>
  <%= @club.name %>
  </strong>
</h2>

<p>
  <strong>Weblink:</strong>
  <%= @club.webLink %>
</p>

<p>
  <strong>Registrationnumber:</strong>
  <%= @club.registrationNumber %>
</p>
<p>
  <strong>Description:</strong>
  <%= @club.description %>
</p>

<br>
<br>
<h4><strong>Club Events</strong> </h2>
	<%= render :partial => 'club_events', :collection => @club_event %>
   <br>
   <br>

<h4><strong>Club Administrators</strong> </h2>
  <%= render :partial => 'club_admins', :collection => @club_admin %>
   <br>
<%= form_for(@new_admin, :html => { :multipart => true, :class => "custom"}) do |f| %>
<%= f.hidden_field :club_id, :value => @club.id %>
<div class = "field">
   <%= f.label :user_id  %>
   <%= f.text_area :user_id %>
</div>
<div class = "field">
   <%= f.label :position %>
   <%= f.text_area :position %>
</div>
<div class = "field">
   <%= f.label :phone %>
   <%= f.text_area :phone %>
</div>

<div class="actions">
    <%= f.submit %>
</div>

<% end %>

   <br>


<% if user_signed_in? && is_club_current_admin?(@club.id) %>
<%= link_to '<button>Edit</button>'.html_safe, edit_club_path(@club) %>
<% end %>

<%= link_to '<button>Back</button>'.html_safe, clubs_path %>
