<h1>
  <strong>
  <%= @club.name %>
  </strong>
</h2>

<p>
  <strong>Weblink:</strong>
  <%= @club.webLink %>
</p>

<p>
  <strong>Registrationnumber:</strong>
  <%= @club.registrationNumber %>
</p>
<p>
  <strong>Description:</strong>
  <%= @club.description %>
</p>

<% if user_signed_in? && is_club_current_admin?(@club.id) %>
<%= link_to 'Edit', edit_club_path(@club) %>
<% end %>
<%= link_to 'Back', clubs_path %>
