<% if @club.banner? %>
<div class="banner">
  <%= image_tag @club.banner.url(:banner) %>
</div>
<% end %>

<br >

<h1>
  <strong>
  <%= @club.name %>
  </strong>
</h2>

<p>
  <strong>Weblink:</strong>
  <%= @club.webLink %>
</p>

<p>
  <strong>Registration Number:</strong>
  <%= @club.registrationNumber %>
</p>
<p>
  <strong>Description:</strong>
  <%= @club.description %>
</p>

<br>
<br>

<div class="home">
  <% if @club.image? %>
  <%= link_to_image(@club.image.url(:medium), @club.image.url) %>
  &nbsp;&nbsp;&nbsp;
  <% end %>

  <% if @club.image2? %>
  <%= link_to_image(@club.image2.url(:medium), @club.image2.url) %>
  &nbsp;&nbsp;&nbsp;
  <% end %>

  <% if @club.image3? %>
  <%= link_to_image(@club.image3.url(:medium), @club.image3.url) %>
  &nbsp;&nbsp;&nbsp;
  <% end %>
</div>

<br>
<br>
<h4><strong>Club Events</strong> </h2>
	<%= render :partial => 'club_events', :collection => @club_event %>
   <br>
   <br>

<h4><strong>Club Administrators</strong> </h4>
  <%= render :partial => 'club_admins', :collection => @club_admin %>
   <br>


   <br>
   <% if user_signed_in? && is_club_current_admin?(@club.id)%>
 <h4><strong>Add New Club Administrators</strong> </h4>
  <%= form_tag add_admin_path do %>
   <p><strong>Username</strong></p>
  <%= text_field_tag :username, params[:username] %>
  <br>
  <p><strong>Position</strong></p>
  <%= text_field_tag :position, params[:position] %>
  <br>
  <p><strong>Phone</strong></p>
  <%= text_field_tag :phone, params[:phone] %>
  <br>
  <br>
  <%= submit_tag "Add" %>
  <% end %>
</p>
<%end%>

<% if user_signed_in? && is_club_current_admin?(@club.id) %>
<%= link_to '<button>Edit</button>'.html_safe, edit_club_path(@club) %>
<% end %>

<%= link_to '<button>Back</button>'.html_safe, clubs_path %>
