<h1>
  <strong>
  <%= @club.name %>
  </strong>
</h2>

<p>
  <strong>Weblink:</strong>
  <%= @club.webLink %>
</p>

<p>
  <strong>Registrationnumber:</strong>
  <%= @club.registrationNumber %>
</p>
<p>
  <strong>Description:</strong>
  <%= @club.description %>
</p>

<br>
<br>
<h4><strong>Club Events</strong> </h2>
	<%= render :partial => 'club_events', :collection => @club_events %>
   <br>
   <br>

<% if user_signed_in? && is_club_current_admin?(@club.id) %>
<%= link_to '<button>Edit</button>'.html_safe, edit_club_path(@club) %>
<% end %>
<%= link_to '<button>Back</button>'.html_safe, clubs_path %>
