<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Weblink:</strong>
  <%= @club.webLink %>
</p>

<p>
  <strong>Registrationnumber:</strong>
  <%= @club.registrationNumber %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
