<%= form_for(@message, :html => { :multipart => true, :class => "custom"}) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recipient %><br>
    <%= f.text_field :recipient %>

  </div>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>

  <%= f.hidden_field :sender_id, :value => current_user.id %>
  <%= f.hidden_field :sender, :value => current_user.username %>  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
