<body>
<h1>Messages</h1>

<table border="4" cellpadding="10">
  <thead>
    <tr>
      <th>Sender</th>
      <th>Reciever</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>
  <% @messages_received.each do |message| %>

  <div class="panel panel-default">
    <div class="panel-body">
      <%= message.sender %> : <%= message.body %>
      

      <div class="pull-right">
        <%= link_to 'Show', message %>
        <%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
  <% end %>
</tbody>

<br>
  <%= link_to 'New Message', new_message_path%>
</table>
</body>
