<h1>Received Messages</h1>


<head>
  <tr>
    <th>Sender</th>
    <th>Body</th>
    <th colspan="2"></th>
  </tr>
</head>

<tbody>
  <% @messages_received.each do |message| %>

  <div class="panel panel-default">
    <div class="panel-body">
      <%= message.sender %> : <%= message.body %>
      

      <div class="pull-right">
        <%= link_to 'Show', message %>
        <%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>

  <% end %>
</tbody>

<br>
  <%= button_to 'New Message', new_message_path %>