<body>

  <%= link_to '<button>New Message</button>'.html_safe, new_message_path%>
  <br>
  <div style ="padding: 0 15px;">
    <div class = "row">
      <div class  = "col-md-6">
        <h1>Inbox</h1>

        <table border="4" cellpadding="10">

          <tbody>
            <% @messages_received.each do |message| %>

            <div class="panel panel-default">
              <div class="panel-body">
                <%= message.sender %> : <%= message.body %>
          

                <div class="pull-right">
                  <%= link_to '<button>Show</button>'.html_safe, message %>
                  <%= link_to '<button>Remove</button>'.html_safe, message, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            </div>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class  = "col-md-6">
        <h1> Sent</h1>

        <table border="4" cellpadding="10">

          <tbody>
            <% @messages_sent.each do |message| %>

            <div class="panel panel-default">
              <div class="panel-body">
                <%= message.recipient %> : <%= message.body %>
                

                <div class="pull-right">
                  <%= link_to '<button>Show</button>'.html_safe, message %>
                  <%= link_to '<button>Remove</button>'.html_safe, message, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            </div>
            <% end %>
          </tbody>
      </div>
    </div>
  </div>
</table>
<br>

</body>
