<h1>Listing comments</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Body</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.username %></td>
        <td><%= comment.body %></td>
        <td><%= comment.event %></td>
        <td><%= link_to '<button>Show</button>'.html_safe, comment %></td>
        <td><%= link_to '<button>Edit</button>'.html_safe, edit_comment_path(comment) %></td>
        <td><%= link_to '<button>Destroy</button>'.html_safe, comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button>New Comment</button>'.html_safe, new_comment_path %>
