
<h1 class="custom">Club Biz</h1>
<br>
<br>

<% @counter = 0 %>
<div class="home">
<% @events.each do |temp_event| %>

<% if temp_event.image? && @counter < 3%>
	<%= link_to_image(temp_event.image.url(:medium), temp_event) %>
	<% @counter += 1 %>
	&nbsp;&nbsp;
<% end %>

<% if temp_event.image2? && @counter < 3%>
  <%= link_to_image(temp_event.image2.url(:medium), temp_event) %>
  <% @counter += 1 %>
 
  &nbsp;&nbsp;
<% end %>

<% if temp_event.image3? && @counter < 3 %>
  <%= link_to_image(temp_event.image3.url(:medium), temp_event) %>
  <% @counter += 1 %>
  
  &nbsp;&nbsp;
<% end %>

<%end%>
<% if user_signed_in? %>
  <div style ="padding: 0 15px;">
    <div class = "row">
      <div class  = "col-md-6">
        <h1>Announcements</h1>

        <table border="4" cellpadding="10">

          <tbody>
            <% @announcements.each do |message| %>

            <div class="panel panel-default">
              <div class="panel-body">
               <%= message %>
          

                <div class="pull-right">
                  <%= link_to '<button>Show</button>'.html_safe, message %>
                  <%= link_to '<button>Remove</button>'.html_safe, message, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            </div>
            <% end %>
          </tbody>
</div>

<% end %>