<%= form_for(@event, :html => { :multipart => true, :class => "custom"}) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>

  <% if !@belonging_clubs.blank? %>
  <div class="field">
    <%= f.label :parent_club %><br>
    <select name="parent_club">
      <% @belonging_clubs.each do |club| %>
      <option value='<%= club.id %>'> <%= club.name %></option>
      <%end%>
    </select>

  </div>

  <% end  %>


  <div class="field">
    <%= f.label :event_date %><br>
    <%= f.date_select :event_date %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

    <div class = "field">
    <%= f.label :ticket_info %><br>
    <%= f.text_area :ticket_info %>
  </div>

  <div class = "field">
    <%= f.label :num_of_tickets %><br>
    <%= f.number_field :num_of_tickets %>
  </div>
  <div class = "field">
    <%= f.label :ticket_price %><br>
    <%= f.number_field :ticket_price %>
  </div>

  <div class="field">
    <%= f.label :banner %><br>
    <%= f.file_field :banner %>
  </div>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :image2 %><br>
    <%= f.file_field :image2 %>
  </div>

  <div class="field">
    <%= f.label :image3 %><br>
    <%= f.file_field :image3 %>
  </div>
  <div class="field">
    <%= f.label :report %><br>
    <%= f.text_area :report %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
