<p id="notice"><%= notice %></p>

<h1>
  <strong>
  <%= @event.name %>
  </strong>
</h1>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= "#{@event.start_time.hour}:#{@event.start_time.min}" %>
</p>
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<p>
  <strong>Ticket information:</strong>
  <%= @event.ticket_info %>
</p>
<p>
  <strong>Tickets available:</strong>
  <%= @event.num_of_tickets %>
</p>
<p>
  <strong>Ticket price:</strong>
  <%= @event.ticket_price %>
</p>
<% if @event.image? %>
	<%= image_tag @event.image.url %>
	
	<br />
	<%= link_to @event.image.url, @event.image.url%>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
