
<h1>
  <strong>
  <%= @event.name %>
  </strong>
</h1>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= "#{@event.start_time.hour}:#{@event.start_time.min}" %>
</p>
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<p>
  <strong>Ticket information:</strong>
  <%= @event.ticket_info %>
</p>
<p>
  <strong>Tickets available:</strong>
  <%= @event.num_of_tickets %>
</p>
<p>
  <strong>Ticket price:</strong>
  <%= @event.ticket_price %>
</p>
<% if @event.image? %>
	<%= image_tag @event.image.url(:medium) %>
  <br>
	<%= link_to 'Link to Picture', @event.image.url%>
  <br>
<% end %>

<% if @event.image2? %>
  <%= image_tag @event.image2.url(:medium) %>
  <br>
  <%= link_to 'Link to Picture', @event.image2.url%>
  <br>
<% end %>

<% if @event.image3? %>
  <%= image_tag @event.image3.url(:medium) %>
  <br>
  <%= link_to 'Link to Picture', @event.image3.url%>
  <br>
  <br>
<% end %>


<%= form_for(@comment, :html => { :multipart => true, :class => "custom"}) do |f| %>
  <%= f.hidden_field :event_id, :value => @event.id %>
  <%= f.hidden_field :username, :value => current_user.username %>
 
    <%= f.label :body %>
    <%= f.text_area :body %>
    
    <%= f.submit "Post Comment" %>
  
<% end %>

<%= render :partial => 'comment', :collection => @event.comments %>

<% if user_signed_in? && @is_club_admin %>
<%= link_to 'Edit', edit_event_path(@event) %> 
<% end %>
<%= link_to 'Back', events_path %>
