<p id="notice"><%= notice %></p>

<h1>
  <strong>
  <%= @event.name %>
  </strong>
</h1>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= "#{@event.start_time.hour}:#{@event.start_time.min}" %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
