<h1>My Profile</h1>

<p><strong>Username:</strong>
<%= @user.username %>
</p>

<p><strong>Email:</strong>
<%= @user.email %>
</p>

  <div style ="padding: 0 15px;">
    <div class = "row">
      <div class  = "col" >
        <h2>Announcements</h2>

        <table border="4" cellpadding="10">

          <tbody>
            <% @announcements.each do |message, event| %>

            <div class="panel panel-default">
              <div class="panel-body">
              <%= message.username %> commented on <%= link_to event.name, event %> :  <%= message.body %>
                
              </div>
            </div>
            <% end %>
          </tbody>
        </div>  
      </div>
    </div>
  </div>
</div>
</div>

<br >

<div style ="padding: 0 15px;">
    <div class = "row">
      <div class  = "col" >
        <h2>My Clubs</h2>

        <table border="4" cellpadding="10">

          <tbody>
            <% @belonging_clubs.each do |club| %>

            <div class="panel panel-default">
              <div class="panel-body">
              <%= link_to club.name, club %>
                
              </div>
            </div>
            <% end %>
          </tbody>
        </div>  
      </div>
    </div>
  </div>
</div>
</div>

<br>

<div style ="padding: 0 15px;">
    <div class = "row">
      <div class  = "col" >
        <h2>Following Events</h2>

        <table border="4" cellpadding="10">

          <tbody>
            <% @event_follow.each do |event| %>

            <div class="panel panel-default">
              <div class="panel-body">
              <%= link_to event.name, event %>
                
              </div>
            </div>
            <% end %>
          </tbody>
        </div>  
      </div>
    </div>
  </div>
</div>
</div>

